USE [Proyecto_Final]
GO
/****** Object:  Table [dbo].[CAJERO]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAJERO](
	[IdCajero] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[CajaAsignada] [int] NULL,
	[RFC_FK] [varchar](50) NULL,
 CONSTRAINT [PK_CAJERO] PRIMARY KEY CLUSTERED 
(
	[IdCajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IdCategoria] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](max) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IdCliente] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Efectivo]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efectivo](
	[Folio] [int] NOT NULL,
	[Monto_Entregado_por_Cliente] [money] NULL,
	[Cambio_Entregado] [money] NULL,
 CONSTRAINT [PK_Efectivo] PRIMARY KEY CLUSTERED 
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTREGA]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTREGA](
	[IdEntrega] [int] NOT NULL,
	[Hora_Entrega] [time](7) NULL,
	[Folio_FK] [int] NULL,
	[IdRepartidor_FK] [int] NULL,
 CONSTRAINT [PK_ENTREGA] PRIMARY KEY CLUSTERED 
(
	[IdEntrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[IdEstado] [int] NOT NULL,
	[Estado] [varchar](50) NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IdProducto] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](max) NULL,
	[Precio] [money] NULL,
	[IdCategoria_FK] [int] NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[IdProveedor] [int] NOT NULL,
	[NombreComercial] [varchar](50) NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor_Producto]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor_Producto](
	[IdProducto] [int] NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[Precio_Compra] [money] NULL,
 CONSTRAINT [PK_Proveedor_Producto] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC,
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPARTIDOR]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPARTIDOR](
	[IdRepartidor] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[NumRuta_FK] [int] NULL,
	[RFC_FK] [varchar](50) NULL,
 CONSTRAINT [PK_REPARTIDOR] PRIMARY KEY CLUSTERED 
(
	[IdRepartidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUTA_VEHICULO]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTA_VEHICULO](
	[Placas] [varchar](50) NOT NULL,
	[NumRuta] [int] NOT NULL,
 CONSTRAINT [PK_RUTA_VEHICULO] PRIMARY KEY CLUSTERED 
(
	[Placas] ASC,
	[NumRuta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutas]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutas](
	[NumRuta] [int] NOT NULL,
	[Zona] [varchar](50) NULL,
 CONSTRAINT [PK_Rutas_1] PRIMARY KEY CLUSTERED 
(
	[NumRuta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARJETA]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETA](
	[Folio] [int] NOT NULL,
	[Nombre_Cuenta] [varchar](50) NULL,
	[Num_Cuenta] [int] NULL,
	[Banco] [varchar](50) NULL,
 CONSTRAINT [PK_Tarjeta] PRIMARY KEY CLUSTERED 
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONO_CLIENTE]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONO_CLIENTE](
	[IdCliente_FK] [int] NOT NULL,
	[Telefono_Celular] [varchar](50) NULL,
	[Telefono_Casa] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIENDA]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENDA](
	[RFC] [varchar](50) NOT NULL,
	[Nombre] [varchar](max) NULL,
	[Direccion] [varchar](max) NULL,
 CONSTRAINT [PK_TIENDA] PRIMARY KEY CLUSTERED 
(
	[RFC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICULOS]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICULOS](
	[Placas] [varchar](50) NOT NULL,
	[Marca] [varchar](50) NULL,
	[Modelo] [varchar](50) NULL,
	[Año] [int] NULL,
	[IdEstado_FK] [int] NULL,
 CONSTRAINT [PK_VEHICULOS] PRIMARY KEY CLUSTERED 
(
	[Placas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[Folio] [int] NOT NULL,
	[Fecha] [date] NULL,
	[Monto_total] [money] NULL,
	[IdCajero_FK] [int] NULL,
	[IdCliente_FK] [int] NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED 
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA_PRODUCTO]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA_PRODUCTO](
	[Folio] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NULL,
	[Subtotal] [money] NULL,
 CONSTRAINT [PK_VENTA_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[Folio] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CAJERO] ([IdCajero], [Nombre], [CajaAsignada], [RFC_FK]) VALUES (1, N'Laura Sánchez Varela', 1, N'DUL230411K98')
INSERT [dbo].[CAJERO] ([IdCajero], [Nombre], [CajaAsignada], [RFC_FK]) VALUES (2, N'Carlos Méndez Aguilar', 2, N'DUL230411K98')
INSERT [dbo].[CAJERO] ([IdCajero], [Nombre], [CajaAsignada], [RFC_FK]) VALUES (3, N'Diana Robles Torres', 1, N'DUL230411K98')
GO
INSERT [dbo].[CATEGORIA] ([IdCategoria], [Nombre], [Descripcion]) VALUES (1, N'Chicles', N'Chicles de distintos sabores, tamaños y presentaciones, incluyendo opciones con y sin azúcar, rellenos, tipo globo, y empaquetados individualmente o en cajas.')
INSERT [dbo].[CATEGORIA] ([IdCategoria], [Nombre], [Descripcion]) VALUES (2, N'Productos de Fiesta', N'	Artículos como bolsas decoradas, confeti, sombreritos y accesorios temáticos.')
INSERT [dbo].[CATEGORIA] ([IdCategoria], [Nombre], [Descripcion]) VALUES (3, N'Chocolates', N'	Chocolates en barra, rellenos, bombones y productos con cobertura de chocolate.')
GO
INSERT [dbo].[CLIENTE] ([IdCliente], [Nombre], [Correo]) VALUES (1, N'Valeria Gómez Ruiz', N'valeria.gomez23@email.com')
INSERT [dbo].[CLIENTE] ([IdCliente], [Nombre], [Correo]) VALUES (2, N'Andrés López Martínez', N'andres.lopez89@email.com')
INSERT [dbo].[CLIENTE] ([IdCliente], [Nombre], [Correo]) VALUES (3, N'Camila Ortega Salinas', N'camila.ortega10@email.com')
GO
INSERT [dbo].[Efectivo] ([Folio], [Monto_Entregado_por_Cliente], [Cambio_Entregado]) VALUES (2, 250.0000, 19.5000)
INSERT [dbo].[Efectivo] ([Folio], [Monto_Entregado_por_Cliente], [Cambio_Entregado]) VALUES (3, 100.0000, 5.0000)
INSERT [dbo].[Efectivo] ([Folio], [Monto_Entregado_por_Cliente], [Cambio_Entregado]) VALUES (5, 250.0000, 40.0000)
GO
INSERT [dbo].[ENTREGA] ([IdEntrega], [Hora_Entrega], [Folio_FK], [IdRepartidor_FK]) VALUES (1, CAST(N'20:15:00' AS Time), 3, 1)
INSERT [dbo].[ENTREGA] ([IdEntrega], [Hora_Entrega], [Folio_FK], [IdRepartidor_FK]) VALUES (2, CAST(N'15:20:00' AS Time), 7, 2)
INSERT [dbo].[ENTREGA] ([IdEntrega], [Hora_Entrega], [Folio_FK], [IdRepartidor_FK]) VALUES (3, CAST(N'12:50:00' AS Time), 8, 4)
GO
INSERT [dbo].[Estado] ([IdEstado], [Estado]) VALUES (1, N'Mantenimiento')
INSERT [dbo].[Estado] ([IdEstado], [Estado]) VALUES (2, N'Activo')
GO
INSERT [dbo].[PRODUCTO] ([IdProducto], [Nombre], [Descripcion], [Precio], [IdCategoria_FK]) VALUES (1, N'Bubbaloo Pik Piña', N'Goma de mascar con centro liquido sabor a piña y chamoy. Paquete con 50 piezas', 50.0000, 1)
INSERT [dbo].[PRODUCTO] ([IdProducto], [Nombre], [Descripcion], [Precio], [IdCategoria_FK]) VALUES (2, N'Trident Canela', N'Goma de mascar confitada sin azucar sabor canela. Paquete con 40 piezas', 89.4000, 1)
INSERT [dbo].[PRODUCTO] ([IdProducto], [Nombre], [Descripcion], [Precio], [IdCategoria_FK]) VALUES (3, N'Piñatas', N'Una piñata tradicional mexicana elaborado con barro', 140.0000, 2)
GO
INSERT [dbo].[PROVEEDOR] ([IdProveedor], [NombreComercial]) VALUES (1, N'DulceManía Distribuciones')
INSERT [dbo].[PROVEEDOR] ([IdProveedor], [NombreComercial]) VALUES (2, N'Sabor y Fiesta S.A.')
INSERT [dbo].[PROVEEDOR] ([IdProveedor], [NombreComercial]) VALUES (3, N'ChocoExpress MX')
GO
INSERT [dbo].[Proveedor_Producto] ([IdProducto], [IdProveedor], [Precio_Compra]) VALUES (1, 2, 40.0000)
INSERT [dbo].[Proveedor_Producto] ([IdProducto], [IdProveedor], [Precio_Compra]) VALUES (1, 5, 31.2200)
INSERT [dbo].[Proveedor_Producto] ([IdProducto], [IdProveedor], [Precio_Compra]) VALUES (2, 3, 64.3700)
GO
INSERT [dbo].[REPARTIDOR] ([IdRepartidor], [Nombre], [NumRuta_FK], [RFC_FK]) VALUES (1, N'Luis Ángel Morales
', 1, N'DUL230411K98')
INSERT [dbo].[REPARTIDOR] ([IdRepartidor], [Nombre], [NumRuta_FK], [RFC_FK]) VALUES (2, N'Mariana Torres Cruz', 3, N'DUL230411K98')
INSERT [dbo].[REPARTIDOR] ([IdRepartidor], [Nombre], [NumRuta_FK], [RFC_FK]) VALUES (3, N'Eduardo Ramírez Vázquez', 2, N'DUL230411K98')
GO
INSERT [dbo].[RUTA_VEHICULO] ([Placas], [NumRuta]) VALUES (N' JKL-8217', 1)
INSERT [dbo].[RUTA_VEHICULO] ([Placas], [NumRuta]) VALUES (N' JKL-8217', 2)
INSERT [dbo].[RUTA_VEHICULO] ([Placas], [NumRuta]) VALUES (N' JKL-8217', 4)
GO
INSERT [dbo].[Rutas] ([NumRuta], [Zona]) VALUES (1, N'Centro Histórico')
INSERT [dbo].[Rutas] ([NumRuta], [Zona]) VALUES (2, N'Colonia Americana')
INSERT [dbo].[Rutas] ([NumRuta], [Zona]) VALUES (3, N'Zona Industrial')
GO
INSERT [dbo].[TARJETA] ([Folio], [Nombre_Cuenta], [Num_Cuenta], [Banco]) VALUES (1, N'Valeria Gómez Ruiz', 52034567, N'BBVA')
INSERT [dbo].[TARJETA] ([Folio], [Nombre_Cuenta], [Num_Cuenta], [Banco]) VALUES (4, N'	Diego Hernández Padilla', 41693344, N'Banorte')
INSERT [dbo].[TARJETA] ([Folio], [Nombre_Cuenta], [Num_Cuenta], [Banco]) VALUES (6, N'	Mauricio Delgado Núñez', 43762198, N'Santander')
GO
INSERT [dbo].[TELEFONO_CLIENTE] ([IdCliente_FK], [Telefono_Celular], [Telefono_Casa]) VALUES (1, N'3321457890

', N'3336321120')
INSERT [dbo].[TELEFONO_CLIENTE] ([IdCliente_FK], [Telefono_Celular], [Telefono_Casa]) VALUES (2, N'3318725632', N'3339804466')
INSERT [dbo].[TELEFONO_CLIENTE] ([IdCliente_FK], [Telefono_Celular], [Telefono_Casa]) VALUES (3, N'3335219981', N'3331237689')
GO
INSERT [dbo].[TIENDA] ([RFC], [Nombre], [Direccion]) VALUES (N'DUL230411K98', N'Dulcería “El Caramelo Feliz” S.A. de C.V.', N'Av. Colores No. 123, Col. La Dulzura, C.P. 45678, Guadalajara, Jalisco, México')
GO
INSERT [dbo].[VEHICULOS] ([Placas], [Marca], [Modelo], [Año], [IdEstado_FK]) VALUES (N' JKL-8217', N'Nissan', N'NP300', 2021, 1)
INSERT [dbo].[VEHICULOS] ([Placas], [Marca], [Modelo], [Año], [IdEstado_FK]) VALUES (N'BTR-4492', N'Chevrolet', N'Tornado', 2020, 1)
INSERT [dbo].[VEHICULOS] ([Placas], [Marca], [Modelo], [Año], [IdEstado_FK]) VALUES (N'HXD-3176', N'Toyota', N'Hilux ', 2022, 1)
GO
INSERT [dbo].[VENTA] ([Folio], [Fecha], [Monto_total], [IdCajero_FK], [IdCliente_FK]) VALUES (1, CAST(N'2025-06-10' AS Date), 140.0000, 1, 1)
INSERT [dbo].[VENTA] ([Folio], [Fecha], [Monto_total], [IdCajero_FK], [IdCliente_FK]) VALUES (2, CAST(N'2025-06-11' AS Date), 506.0000, 2, 2)
INSERT [dbo].[VENTA] ([Folio], [Fecha], [Monto_total], [IdCajero_FK], [IdCliente_FK]) VALUES (3, CAST(N'2025-06-11' AS Date), 308.0000, 3, 3)
GO
INSERT [dbo].[VENTA_PRODUCTO] ([Folio], [IdProducto], [Cantidad], [Subtotal]) VALUES (1, 3, 1, 140.0000)
INSERT [dbo].[VENTA_PRODUCTO] ([Folio], [IdProducto], [Cantidad], [Subtotal]) VALUES (2, 9, 2, 356.0000)
INSERT [dbo].[VENTA_PRODUCTO] ([Folio], [IdProducto], [Cantidad], [Subtotal]) VALUES (2, 10, 2, 150.0000)
GO
ALTER TABLE [dbo].[CAJERO]  WITH CHECK ADD  CONSTRAINT [FK_CAJERO_TIENDA] FOREIGN KEY([RFC_FK])
REFERENCES [dbo].[TIENDA] ([RFC])
GO
ALTER TABLE [dbo].[CAJERO] CHECK CONSTRAINT [FK_CAJERO_TIENDA]
GO
ALTER TABLE [dbo].[Efectivo]  WITH CHECK ADD  CONSTRAINT [FK_Efectivo_VENTA] FOREIGN KEY([Folio])
REFERENCES [dbo].[VENTA] ([Folio])
GO
ALTER TABLE [dbo].[Efectivo] CHECK CONSTRAINT [FK_Efectivo_VENTA]
GO
ALTER TABLE [dbo].[ENTREGA]  WITH CHECK ADD  CONSTRAINT [FK_ENTREGA_REPARTIDOR] FOREIGN KEY([IdRepartidor_FK])
REFERENCES [dbo].[REPARTIDOR] ([IdRepartidor])
GO
ALTER TABLE [dbo].[ENTREGA] CHECK CONSTRAINT [FK_ENTREGA_REPARTIDOR]
GO
ALTER TABLE [dbo].[ENTREGA]  WITH CHECK ADD  CONSTRAINT [FK_ENTREGA_VENTA] FOREIGN KEY([Folio_FK])
REFERENCES [dbo].[VENTA] ([Folio])
GO
ALTER TABLE [dbo].[ENTREGA] CHECK CONSTRAINT [FK_ENTREGA_VENTA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_CATEGORIA] FOREIGN KEY([IdCategoria_FK])
REFERENCES [dbo].[CATEGORIA] ([IdCategoria])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_CATEGORIA]
GO
ALTER TABLE [dbo].[Proveedor_Producto]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Producto_PRODUCTO] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[Proveedor_Producto] CHECK CONSTRAINT [FK_Proveedor_Producto_PRODUCTO]
GO
ALTER TABLE [dbo].[Proveedor_Producto]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Producto_PROVEEDOR] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[PROVEEDOR] ([IdProveedor])
GO
ALTER TABLE [dbo].[Proveedor_Producto] CHECK CONSTRAINT [FK_Proveedor_Producto_PROVEEDOR]
GO
ALTER TABLE [dbo].[REPARTIDOR]  WITH CHECK ADD  CONSTRAINT [FK_REPARTIDOR_Rutas] FOREIGN KEY([NumRuta_FK])
REFERENCES [dbo].[Rutas] ([NumRuta])
GO
ALTER TABLE [dbo].[REPARTIDOR] CHECK CONSTRAINT [FK_REPARTIDOR_Rutas]
GO
ALTER TABLE [dbo].[REPARTIDOR]  WITH CHECK ADD  CONSTRAINT [FK_REPARTIDOR_TIENDA] FOREIGN KEY([RFC_FK])
REFERENCES [dbo].[TIENDA] ([RFC])
GO
ALTER TABLE [dbo].[REPARTIDOR] CHECK CONSTRAINT [FK_REPARTIDOR_TIENDA]
GO
ALTER TABLE [dbo].[RUTA_VEHICULO]  WITH CHECK ADD  CONSTRAINT [FK_RUTA_VEHICULO_Rutas] FOREIGN KEY([NumRuta])
REFERENCES [dbo].[Rutas] ([NumRuta])
GO
ALTER TABLE [dbo].[RUTA_VEHICULO] CHECK CONSTRAINT [FK_RUTA_VEHICULO_Rutas]
GO
ALTER TABLE [dbo].[RUTA_VEHICULO]  WITH CHECK ADD  CONSTRAINT [FK_RUTA_VEHICULO_VEHICULOS] FOREIGN KEY([Placas])
REFERENCES [dbo].[VEHICULOS] ([Placas])
GO
ALTER TABLE [dbo].[RUTA_VEHICULO] CHECK CONSTRAINT [FK_RUTA_VEHICULO_VEHICULOS]
GO
ALTER TABLE [dbo].[TARJETA]  WITH CHECK ADD  CONSTRAINT [FK_Tarjeta_VENTA] FOREIGN KEY([Folio])
REFERENCES [dbo].[VENTA] ([Folio])
GO
ALTER TABLE [dbo].[TARJETA] CHECK CONSTRAINT [FK_Tarjeta_VENTA]
GO
ALTER TABLE [dbo].[TELEFONO_CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONO_CLIENTE_CLIENTE] FOREIGN KEY([IdCliente_FK])
REFERENCES [dbo].[CLIENTE] ([IdCliente])
GO
ALTER TABLE [dbo].[TELEFONO_CLIENTE] CHECK CONSTRAINT [FK_TELEFONO_CLIENTE_CLIENTE]
GO
ALTER TABLE [dbo].[VEHICULOS]  WITH CHECK ADD  CONSTRAINT [FK_VEHICULOS_Estado] FOREIGN KEY([IdEstado_FK])
REFERENCES [dbo].[Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[VEHICULOS] CHECK CONSTRAINT [FK_VEHICULOS_Estado]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_CAJERO] FOREIGN KEY([IdCajero_FK])
REFERENCES [dbo].[CAJERO] ([IdCajero])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_CAJERO]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_CLIENTE] FOREIGN KEY([IdCliente_FK])
REFERENCES [dbo].[CLIENTE] ([IdCliente])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_CLIENTE]
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_PRODUCTO_PRODUCTO] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO] CHECK CONSTRAINT [FK_VENTA_PRODUCTO_PRODUCTO]
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_PRODUCTO_VENTA] FOREIGN KEY([Folio])
REFERENCES [dbo].[VENTA] ([Folio])
GO
ALTER TABLE [dbo].[VENTA_PRODUCTO] CHECK CONSTRAINT [FK_VENTA_PRODUCTO_VENTA]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarPrecioCompra]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ActualizarPrecioCompra] @IdProducto int, @IdProveedor int, @NuevoPrecio money as
    begin

        update PROVEEDOR_PRODUCTO
        set Precio_Compra = @NuevoPrecio
        where IdProducto = @IdProducto AND IdProveedor = @IdProveedor

        update PRODUCTO
        set Precio = @NuevoPrecio * 1.25
        where IdProducto = @IdProducto

        select * from Proveedor_Producto
        order by IdProducto asc

        select * from PRODUCTO
        order by IdProducto asc

    end; 
GO
/****** Object:  StoredProcedure [dbo].[ALTA_PRODUCTOYCATEGORIA]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTA_PRODUCTOYCATEGORIA] (@name varchar(50), @descripcion varchar(50), @precio money, @categoria varchar(50))
AS
BEGIN
INSERT INTO CATEGORIA (IdCategoria,Nombre, Descripcion)
VALUES(
(SELECT ISNULL(MAX(IdCategoria),0)+1 FROM CATEGORIA),
@categoria,
NULL
);
INSERT INTO PRODUCTO (IdProducto, Nombre, Descripcion, Precio, IdCategoria_FK)
VALUES(
(SELECT ISNULL(MAX(IDProducto), 0)+ 1 FROM PRODUCTO),
@name,
@descripcion,
@precio,
(SELECT MAX(IdCategoria) FROM CATEGORIA)
);
select *
from CATEGORIA
select *
from PRODUCTO
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaProveedor]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[BajaProveedor] @Proveedor int as
begin

delete from Proveedor_Producto
	   where IdProveedor = @Proveedor

delete from PROVEEDOR
	   where IdProveedor = @Proveedor 

select *
from PROVEEDOR
select *
from Proveedor_Producto

end;
GO
/****** Object:  StoredProcedure [dbo].[CrearVentayClienteNuevo]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CrearVentayClienteNuevo] (@Nombre varchar(50), @Correo varchar(50), @Cajeroselec int) as
	begin

		declare @idCliente as int
		set @idCliente = (select max(IdCliente)+1 from CLIENTE)

		insert into CLIENTE
		values(@idCliente, @Nombre, @Correo)

		declare @folio as int
		set @folio = (select max(Folio)+1   from VENTA)
		
		declare @Cajero as int 
		set @Cajero = (select IdCajero from CAJERO where IdCajero = @Cajeroselec)

		declare @Cliente as int
		set @Cliente = (select max(IdCliente) from cliente)

		insert into VENTA
		values(@folio, getdate(), 0, @Cajero, @Cliente)

		select *
		from VENTA
		
		 select * from VENTA WHERE Folio = @Folio
		 order by Folio asc

		 select * from cliente
		 order by idCliente asc
	end;
GO
/****** Object:  StoredProcedure [dbo].[HACER_ORDEN]    Script Date: 30/09/2025 03:52:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[HACER_ORDEN] (@producto varchar(50), @cantidad int) as
Begin

	declare @Folio as int
	set @Folio = (select max(Folio) from VENTA)

	declare @idproducto as int
	declare @precio as money

	select @idproducto = IdProducto, @precio = Precio  from PRODUCTO where Nombre = @producto

	insert into VENTA_PRODUCTO
	Values (@Folio,@idproducto,@cantidad,@Cantidad*@Precio)


	declare @Total money
	set  @Total = (select sum(Subtotal) from VENTA_PRODUCTO where Folio = @Folio)

	update VENTA
	set Monto_total = @Total
	where Folio = @Folio

	select *
	from VENTA
	order by Folio desc

	select *
	from VENTA_PRODUCTO
	order by Folio desc


end;
GO
